@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Light and Dark Themes */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* Default: internal elements have transparent tracks */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Track background */
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #f3f4f6;
}

html.dark::-webkit-scrollbar-track,
body.dark::-webkit-scrollbar-track {
  background: #202b3b;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 5px;
  border: 2px solid #f3f4f6;
}

.dark ::-webkit-scrollbar-thumb,
html.dark::-webkit-scrollbar-thumb {
  background: #000000;
  border: 2px solid #202b3b;
}

/* Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover,
html.dark::-webkit-scrollbar-thumb:hover {
  background: #000111;
}

/* Base Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}