@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Dark Theme */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  color: #202b3b;
  /* For horizontal scrollbars */
}

/* Default: internal elements have transparent tracks */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Main page scrollbar track should be black */
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #202b3b;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  /* Dark gray thumb */
  border-radius: 5px;
  border: 2px solid #202b3b;
  /* Creates padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #080029;
  /* Lighter on hover */
}

/* Base Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gradient-to-br from-gray-900 via-gray-800 to-black min-h-screen text-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}